ul

{
   
    text-align: center;
    padding-top:8px;
    padding-bottom:8px;
    margin-left: 500px;
    margin-right:500px;
    
}

h1

{
    background-color: rgb(14, 180, 14);
    font-weight: bolder;
    font-size: 56px;
    margin-bottom:16px;
    margin-top:24px;
}

h2

{
    background-color: red;
    font-weight: bold;
    font: size 46px;
    margin-top:16px;
    margin-bottom:24px;
}

h1,h2

{ color:white;
text-align:center;
padding-top:8px;
padding-bottom:8px;
}

#one
{background-color: rgb(14, 180, 14);
color:white
}

#two
{background-color: white;
color:black}

#three
{background-color: red;
color:white}